{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="container" style="padding-bottom: 16px;">
    Hi there!
</div>

<div class="container">
    <p class="leading-text">
        You recently requested to reset your password. Use the OTP below to validate the request and set a new password
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center; margin-top: 12px;">
    <h1>{{otp}}</h1>
</div>

<div class="container" style="margin-top: 20px;">
    If you didn&apos;t request a password reset, you can safely ignore this email.
</div>

<div class="container" style="margin-top: 20px;">
    Questions? Email us at <span class="accent-text">support@mailer.com</span>
</div>

{% endblock %}