<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    
    
</head>

<body style="font-family: 'Inter', sans-serif;font-optical-sizing: auto;font-weight: 400;font-style: normal;padding: 24px 10px;font-size: 16px;line-height: 32px;display: flex;flex-direction: column;gap: 12px;">
    <div class="container">
        <h1 style="font-size: 152%;">Verify your email</h1>
    </div>
    <div class="container">

        <p class="leading-text" style="line-height: 28px;">Hi there! <br>We're glad to onboard you on our platform. click the link below to
            very your email
            address or pest the address below it into your browser.</p>
    </div>

    <div class="container" style="display: flex; justify-items: center; align-items: center; justify-content: center; margin-top: 12px;">
        <a href="{{verification_link}}" id="verification-link" style="border-radius: 8px;background-color: #FF6500;text-decoration: none;width: 100%;padding: 15px 6px;color: currentColor;text-align: center;">Verify email</a>
    </div>

    <div class="container">
        Questions? Email us at <span class="accent-text" style="color: #FF6500;">support@mailer.com</span>
    </div>
    <footer class="container" style="font-size: 80%;">

    </footer>


</body></html>