@import "tailwindcss";

@plugin "@tailwindcss/typography";
/* @plugin "daisyui"; */


* {
    box-sizing: border-box;
}


#app {
    position: fixed;
    height: 100% !important;
}

:root {
    --accent-color: #FF6500;
}

@theme {
    --wrapper-padding: @apply px-8;
    --color-app-dark: #09090f;
    --color-app-red: #F7374F;
    --color-app-orange: #FF6500;
    --color-app-gray: #282830;

    --color-app-orange: oklch(69.454% 0.20503 43.183);--color-app-orange-50: oklch(89.967% 0.06119 54.842);--color-app-orange-100: oklch(87.272% 0.07975 55.357);--color-app-orange-200: oklch(81.975% 0.11633 53.914);--color-app-orange-300: oklch(77.138% 0.15082 51.598);--color-app-orange-400: oklch(73.021% 0.18086 48.694);--color-app-orange-500: oklch(69.454% 0.20503 43.183);--color-app-orange-600: oklch(57.882% 0.16854 43.947);--color-app-orange-700: oklch(45.704% 0.12997 45.315);--color-app-orange-800: oklch(32.499% 0.08923 47.471);--color-app-orange-900: oklch(18.017% 0.04269 58.969);--color-app-orange-950: oklch(7.5348% 0.01676 66.154);
}


@media (prefers-color-scheme: light) {

    html,
    body {
        @apply text-app-dark bg-white;
        overscroll-behavior: none;
        margin: 0;
        padding: 0;
        height: 100%;
        user-select: none;
    }
}


@media (prefers-color-scheme: dark) {

    html,
    body {
        @apply bg-app-dark text-white/90;
        overscroll-behavior: none;
        margin: 0;
        padding: 0;
        height: 100%;
        user-select: none;
    }
}

.icon {
    @apply size-5 lg:size-5 cursor-pointer hover:text-app-orange;
}


/* .parent-element {
    @apply px-4;
} */


.layout {
    @apply pt-8 px-6 h-screen overflow-scroll scroll-smooth;

}


/* Adds pointer cursor to buttons */
@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);


.app-form-input {
    @apply py-3 px-2 outline-none rounded-lg font-medium text-[18px] placeholder:text-sm placeholder:text-base;
}


.input-box {
    @apply border-app-orange/10 border hover:border hover:border-app-orange/60 bg-app-orange/10 selection:bg-app-orange
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}