@import "tailwindcss";

@plugin "@tailwindcss/typography";



* {
    box-sizing: border-box;
}


#app {
    position: fixed;
    height: 100% !important;
}

:root {
    --accent-color: #FF6500;
}

@theme {
    --wrapper-padding: @apply px-8;
    --color-app-dark: #09090f;
    --color-app-red: #F7374F;
    --color-app-orange: #FF6500;
    --color-app-gray: #282830
}


html,
body {
    @apply text-app-dark bg-white/90;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    height: 100%;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        @apply bg-app-dark text-white/90;
        overscroll-behavior: none;
        margin: 0;
        padding: 0;
        height: 100%;
        user-select: none;
    }
}

.icon {
    @apply size-5 lg:size-5 cursor-pointer hover:text-app-orange;
}


.parent-element {
    @apply px-4;
}

/* .layout {
    @apply pt-8  px-6 h-screen overflow-scroll scroll-smooth;

} */

.layout {
    @apply pt-8 px-5 h-screen overflow-scroll scroll-smooth;

}


/* Adds pointer cursor to buttons */
@layer base {

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);


.app-form-input {
    @apply py-3 px-2 outline-none rounded-lg font-medium text-[18px] placeholder:text-sm placeholder:text-base;
}


.input-box {
    @apply border-app-orange/10 border hover:border hover:border-app-orange/60 bg-app-orange/10 selection:bg-app-orange
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}