@import "tailwindcss";

@plugin "@tailwindcss/typography";

@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

* {
    box-sizing: border-box;
}


#app {
    position: fixed;
    height: 100% !important;
}

@theme {
    --color-accent: #537D5D;
    --color-accent-mid: #73946B;
    --color-accent-light: #9EBC8A;
    --color-accent-secondary: #D2D0A0;
    --wrapper-padding: @apply px-8;
    --color-app-dark: #09090f;
    --color-app-red: #F7374F;
    --color-app-orange: #FF6500;
    --color-app-gray: #282830
}


html,
body {
    @apply bg-app-dark;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.icon {
    @apply size-4 lg:size-5 cursor-pointer hover:text-app-orange ;
}


.parent-element {
    @apply px-8;
}

.layout {
    @apply pt-4 h-screen overflow-scroll scroll-smooth scroll-m-1 pb-24;

}

/* For global styling */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--color-app-dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-app-gray);
    opacity: 0.75;
    border-radius: 6px;
    border: 3px solid var(--color-app-dark);
}


/* Adds pointer cursor to buttons */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);