#!/bin/bash 
export PORT=5006
export ENVIRONMENT=dev

export DATABASE_NAME=uranium
export DATABASE_USER=uranium
export DATABASE_PASSWORD=uranium
export DATABASE_PORT=5432
export DATABASE_HOST=postgres 

export DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

export JWT_SIGNING_KEY=fXUuojVKfWgVi3qLgQl8GjPWHsihf33aExhi
